figcaption {
  position: absolute;
  bottom: 2rem;
  left: 4rem;
  color: white;
  text-align: left;
  background-image: linear-gradient(to right, #4dca79, #1cbddd);
  max-width: 600px;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  figcaption {
    position: inherit;
    margin: 0.25rem 0px;
    max-width: inherit;
    width: 100%;
    left: inherit;
  }
  figcaption h1 {
    font-size: 48px;
  }
  figcaption button {
    margin-left: 2rem;
  }

}

figcaption h1 {
  font-size: 48px;
  margin-left: 2rem;
}
figcaption button {
  margin-left: 2rem;
}

figcaption button:hover {
  border-color: #f28d35;
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  color: #f28d35;
}

.text-col {
  display: flex;
  text-align: left;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .text-col {
    text-align: center;
    align-items: center;
  }
}

.reverse-row {
  display: flex;
  flex-direction: row-reverse;
}

.text-heading {
  color: #6b3cc9;
}

.text-content {
  max-width: 500px;
}

button {
  background-color: #f28d35;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  color: white;
}

.text-col button:hover {
  border-color: #f28d35;
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  color: #f28d35;
}

/* faq */
 .accordion {
        background-color: #FAF8FF;
        color: black;
        font-size: 22px;
        font-weight: 500; 
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        transition: 0.4s;
    }

    
    .active,
    .accordion:hover {
 
        color: #6B3CC9;

    }


    
    .accordion:after {
        content: '\002B';
        /* color: #777; */
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }
    
    .active:after {
        content: "\2212";
    }

    .faq-box{
      background-color: #FAF8FF;
      cursor: pointer;
      margin: 10px 0;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      border-radius: 7px;
      transition: 0.4s;
    }

    .active,
    .faq-box:hover{
      background-color: #FAF8FF;
    }

    .faq-box:after{
      background-color: #FAF8FF;
      
    }
    
    .faq-box button:hover{
      background-color: #FAF8FF;
      color: #6B3CC9;
    }
    .panel {
       font-size: 18px;
        padding: 0 18px;
        color: #6F6C90;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .panel.show {
      max-height: 200px; /* Adjust the maximum height as needed */
    }


    @media screen and (max-width: 1440px) {



      
      .reverse-row1{
        width: 846px;
        height: 392px;
      }
    
      .accordion {
        font-size: 20px;
      }
      .pannel{
        font-size: 16px;
      }
  } 


    @media screen and (min-width: 425px) {



      
        .reverse-row1{
          width: 847px;
          height: 392px;
        }
      
        .accordion {
          font-size: 20px;
        }
        .pannel{
          font-size: 16px;
        }
    }  

















